.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Navbar
 */
.navbar-top {
	margin-bottom: 0px;
	background-color: #428bca;
	border-color: #3174b0;
}
.navbar-top .navbar-brand {
	color: #ffffff;
}
.navbar-top .navbar-brand:hover, .navbar-top .navbar-brand:focus {
	color: #ecf0f1;
}
.navbar-top .navbar-text {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a:hover, .navbar-top .navbar-nav > li > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .active > a, .navbar-top .navbar-nav > .active > a:hover, .navbar-top .navbar-nav > .active > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .open > a, .navbar-top .navbar-nav > .open > a:hover, .navbar-top .navbar-nav > .open > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-toggle {
	border-color: #3174b0;
}
.navbar-top .navbar-toggle:hover, .navbar-top .navbar-toggle:focus {
	background-color: #3174b0;
}
.navbar-top .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-top .navbar-collapse,
.navbar-top .navbar-form {
	border-color: #ffffff;
}
.navbar-top .navbar-link {
	color: #ffffff;
}
.navbar-top .navbar-link:hover {
	color: #ecf0f1;
}

@media (max-width: 767px) {
	.navbar-top .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecf0f1;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > .active > a, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecf0f1;
		background-color: #3174b0;
	}
}
